fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.5.3
pydantic-settings==2.1.0
sqlalchemy==2.0.25
asyncpg==0.29.0
psycopg2-binary==2.9.9
alembic==1.13.1
celery==5.3.6
redis==5.0.1
httpx
beautifulsoup4==4.12.3
lxml==5.0.0
requests==2.31.0
instaloader==4.10.1
tiktokapipy==0.2.4.post2
snscrape==0.6.2.20230320
email-validator==2.1.0
dnspython==2.4.2
openpyxl==3.1.2
pandas==2.1.4
groq
langchain
langchain-groq
python-multipart==0.0.6
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.1.2

websockets==11.0.3
aiofiles==23.2.1